.aboutSkills { 
    background-color: var(--bg-secound-color);
    padding: 50px 0;
}
.container {
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1020px) {
    .container {
        flex-wrap: wrap;
    }
    .container div {
        width: 45%;
    }
}

@media (max-width: 680px) {
    .container div {
        width: 100%;
    }
}