.aboutMe {
    padding: 200px 0 100px;
    background-color: var(--bg-color);
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text {
    animation: uptext 1s ease-in-out;
}
.text h1 {
    color: var(--main-color);
}
.text h4 {
    margin: 30px 0;
    font-size: 20px;
    color: var(--foreground);
}
.text p {
    color: var(--text-color);
    margin: 20px 0;
}
.image img {
    width: 300px;
    border-radius: 30px;
    animation: upimage 1s ease-in-out;
}


@media (max-width: 680px) {
    .container {
        flex-wrap: wrap;
        gap: 50px;
    }
    .text {
        order: 2;
        text-align: center;
    }
    .image {
        order: 1;
    }
}
@media (max-width: 400px) {
    .image {
        text-align: center;
    }
    .image img {
        width: 90%;
    }
}

@keyframes upimage {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes uptext {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}